.color-nav {
    background-color: #4D5176;
    box-shadow: 0 0px 5px 6px #00000040;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

.navbar-brand {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    font-size: 30px !important;
    letter-spacing: -0.03em;
    color: #F6F3F3 !important;
}

.navlink {
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    /* font-size: 18pt; */
    letter-spacing: -0.05em;
    color: #F6F3F3 !important;
}